@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  font-family: Russo One;
  user-select: none;
  background-color: #8d8d8d;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  outline: 5px solid orange;
  text-align: center;
  background-color: #b3b3b3;
  overflow: hidden;
  width: max(40vw, 360px);
}

.pad-bank {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  height: 88vh;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  box-shadow: black 3px 3px 5px;
  width: 30%;
  height: 30%;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

#display {
  height: 1.8rem;
}


@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}

